.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.centerDiv {
  display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    width: 100%;
    max-width: 600px;
    justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.form input {
  border-radius: 5px;
  background-color: snow;
  padding: 10px;
  outline: 0 !important;
  border: 1.5px solid #9E9FA5;
  font-size: 16px;
}


.form button {
  border-radius: 5px;
  padding: 10px; 
  margin-top: 5px;
  outline: 0 !important;
  background-color: #FFC045;
  color: #151515;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid black;
  width: 100%;
  
  transition: 1s;
}
.form button:hover {
  opacity: 1;
}

.form .inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px
}

.inputGroup label {
 color:snow
}


@media only screen and (max-width: 600px) {
  .centerDiv {
    flex-direction: column;
  }
  .centerDiv img {
    width: 180px;
    /* height: 150px; */
  }
  .main {
    padding: 20px
  }
}